pipeline/IncreamentalPipeline.json
{
	"name": "IncreamentalPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup Read Last Updated Record",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_sm_hwm_json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Customer Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Read Last Updated Record",
						"dependencyConditions": [
							"Succeeded",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \nFROM [SW_SHOP].[customers] \nWHERE created_date > '@{activity('Lookup Read Last Updated Record').output.firstRow.last_udated_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_sw_database_customer",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sw_sink_customer",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Max Date of DB Records",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy Customer Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sm_customer_database",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT MAX(created_date) AS latest_record_date FROM [SW_SHOP].[customers]",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "update HWM json file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Max Date of DB Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "last_udated_date",
								"value": {
									"value": "@activity('Max Date of DB Records').output.resultSets[0].rows[0].latest_record_date",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_empty_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sm_hwm_json",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-17T10:07:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}